doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.header
        block header
      div.main
        div.sidebar.left
          block sidebar-left
        div.content
          block content
        div.sidebar.right
          block sidebar-right
      div.footer
        block footer
